<div class="well">
  <div class="well-row-group">
    <span><%= booking.check_in %></span>
    <span>-</span>
    <span><%= booking.check_out %></span>
  </div>
  <div class="well-row-group">
    <span></span>
    <span>&euro; <%= booking.total_price %></span>
  </div>
  <div class="well-column-group">
    <div class="well-row"><span><%= booking.full_name %></span></div>
    <div class="well-row"><span><%= booking.full_address_html.html_safe %></span></div>
  </div>
  <div class="well-column-group">
    <div class="well-row"><span>Number of people:</span><span><%= booking.people %></span></div>
    <div class="well-row"><span>Number of days:</span><span><%= booking.number_of_days %></span></div>
    <div class="well-row"><span>Confirmed:</span><span><%= booking.confirmed? ? "yes" : "no" %></span></div>
    <div class="well-row"><span>Paid:</span><span><%= booking.paid? ? "yes" : "no" %></span></div>
  </div>
  <div class="well-column-group">
    <div class="well-actions">
      <span><%= link_to (booking.confirmed? ? "Un-confirm" : "Confirm"), '#' %></span>
      <span><%= link_to "Delete", '#' %></span>
      <span><%= link_to (booking.paid? ? "Not paid" : "Paid"), '#' %></span>
    </div>
  </div>
</div>
