<tr>
  <td colspan="7" class="admin_linebreak"></td>
</tr>
<tr>
<%= form_for ['admin', @price] do |f| %>
  <td><%= f.date_field :start_date, placeholder: :start_date %></td>
  <td><%= f.date_field :end_date, placeholder: :end_date %></td>
  <td><%= f.number_field :min_days, placeholder: :min_days %></td>
  <td><%= f.number_field :nightly_price, placeholder: :nightly_price %></td>
  <td><%= f.number_field :extra_price, placeholder: :extra_price %></td>
  <td><%= f.submit "Add period" %></td>
<% end %>
</tr>
