<%= form_for ['admin', @price] do |f| %>
  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, placeholder: :start_date %>
  </div>
  <div class="form-group">
    <%= f.label :end_date %>
    <%= f.date_field :end_date, placeholder: :end_date %>
  </div>
  <div class="form-group">
    <%= f.label :min_days %>
    <%= f.number_field :min_days, placeholder: :min_days %>
  </div>
  <div class="form-group">
    <%= f.label :saturdays_only %>
    <%= f.check_box :saturdays_only %>
  </div>
  <div class="form-group">
    <%= f.label :nightly_price %>
    <%= f.number_field :nightly_price, placeholder: :nightly_price %>
  </div>
  <div class="form-group">
    <%= f.label :extra_price %>
    <%= f.number_field :extra_price, placeholder: :extra_price %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", id: "add-form-button" %>
    <% unless @price.new_record? %>
      <%= link_to "<< Back", admin_prices_path %>
    <% end %>
  </div>
<% end %>
