<tr>
  <td><%= price.start_date %></td>
  <td><%= price.end_date %></td>
  <td><%= price.min_days %></td>
  <td><%= price.nightly_price %></td>
  <td><%= price.extra_price %></td>
  <td><%= link_to "Edit", edit_admin_price_path(price) %></td>
  <td><%= link_to "Delete", admin_price_path(price), method: :delete %></td>
</tr>
