<p>start date: <%= price.start_date %></p>
<p>end date: <%= price.end_date %></p>
<p>min days: <%= price.min_days %></p>
<p>nightly price: <%= price.nightly_price %></p>
<p>extra per person: <%= price.extra_price %></p>
