<div class="form">
    <%= form_for @booking, html:{ class: 'content_form'} do |f| %>

    <div class="picker">
        <div>
            <%= f.label :check_in %>
            <% if params[:checkin]%>
            <%= f.text_field :check_in, :value => params[:checkin] %>
        <% else %>
            <%= f.text_field :check_in%>
            <% end %>
        </div>
        <div><%= f.label :check_out %>
            <% if params[:checkout]%>
            <%= f.text_field :check_out, :value => params[:checkout]%>
        <% else %>
            <%= f.text_field :check_out%>
            <% end %>
        </div>
    </div>
    <div class="people">
        <div class="input">
          <%= f.label :people, 'Number of guests' %>
            <% if params[:guests]%>
            <%= f.number_field :people, :value => params[:guests], min: 1, max: 15%>
        <% else %>
            <%= f.number_field :people, :value => 1, min: 1, max: 15 %>
            <% end %>
        </div>
        <div class="buttons">
          <a href="#" class="remove_people">  <%= image_tag 'minus.svg', class: 'people_button', alt: 'minus' %></a>
          <a href="#" class="add_people">  <%= image_tag 'plus.svg', class: 'people_button', alt: 'plus' %></a>
        </div>
    </div>
    <fieldset>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name  %>

    </fieldset>
    <fieldset>
        <%= f.label :phone %>
        <%= f.telephone_field :phone %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :street_name %>
        <%= f.text_field :street_name %>

        <%= f.label :street_number, 'House Number' %>
        <%= f.text_field :street_number %>

        <%= f.label :city %>
        <%= f.text_field :city %>

        <%= f.label :zip_code %>
        <%= f.text_field :zip_code %>
    </fieldset>


    <button type="submit" name="button" class="submit">book now</button>

    <% end %>
</div>
