<div class="form">
  <%= form_for @booking, remote: true do |f| %>

    <hr>

    <div>
      <%= f.label :check_out %>
      <% if params[:checkin]%>
        <%= f.date_field :check_in, :value => params[:checkin]%>
      <% else %>
        <%= f.date_field :check_in%>
      <% end %>
    </div>

    <div>
      <%= f.label :check_out %>
      <% if params[:checkout]%>
        <%= f.date_field :check_out, :value => params[:checkout]%>
      <% else %>
        <%= f.date_field :check_out%>
      <% end %>
    </div>

    <hr>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, placeholder: "First name" %> <br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, placeholder: "Last name" %> <br>

    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "title" %> <br>

    <%= f.label :phone %>
    <%= f.telephone_field :phone, placeholder: "phone number" %> <br>

    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "email" %> <br>

    <%= f.label :street_name %>
    <%= f.text_field :street_name, placeholder: "street name" %>  <br>

    <%= f.label :street_number %>
    <%= f.text_field :street_number, placeholder: "street number" %> <br>

    <%= f.label :city %>
    <%= f.text_field :city, placeholder: "city" %> <br>

    <%= f.label :zip_code %>
    <%= f.text_field :zip_code, placeholder: "zip code" %> <br>

    <%= f.label "Number of people" %>
    <% if params[:guests]%>
      <%= f.number_field :people, :value => params[:guests], placeholder: 8, min: 1, max: 15%> <br>
    <% else %>
      <%= f.number_field :people, placeholder: 8, min: 1, max: 15 %> <br>
    <% end %>

    <div>
      <%= f.submit "Book Now" %>
    </div>
  <% end %>
</div>
