<div class="carousel-container">
    <div class="carousel">
        <% @carousel.photos.order(:id).each do |photo| %>
        <figure>
            <%= image_tag(photo.image_url(:standard)) %>
        </figure>
        <% end %>
    </div>
</div>

<div class="content">
    <div class="home-text-container">
        <div class="home-text-wrapper home-text-hidden" id="home-text-wrapper">
            <% @paragraphs.each do |p| %>
            <div>
                <h3 class="home_heading"><%= p.heading if p.heading != nil %></h3>
                <p><%= p.text%></p>
            </div>
            <% end %>
        </div>
        <a href="#" id="readmore" class="readmore">read more ></a>
    </div>
</div>
<div class="reviews-container">
  <div class="reviews-wrapper">
    <% @reviews.each do |r| %>
    <div class="reviews-item">
      <div class="reviews-header">
        <p><%= r.name %></p>
      </div>
      <div class="reviews-body">
        <p>
          <strong>Stars:
          </strong>
          <% r.stars.times do %>
          <%= image_tag 'full_star.svg', class: 'star', alt: 'full star' %>
          <% end %>
          <% (5 - r.stars).times do %>
          <%= image_tag 'empty_star.svg', class: 'star', alt: 'empty star' %>
          <% end %>
        </p>
        <p><%= r.review %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
