<div class="content">
    <div class="text-align">
        <h2 class="headings">Log in</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name),html:{ class: 'content_form short'}) do |f| %>
    <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field check_box">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
    </div>
    <% end -%>

    <div class="actions">
        <%= f.submit "Log in", class: 'submit' %>
    </div>
    <% end %>

    <div class="text-align">
        <%= render "devise/shared/links" %></div>
</div>
