<%= form_for @review do |f| %>

  <label>What is your name?</label>
  <%= f.text_field :name %>

  <label>How many stars would you give us?</label>
  <%= f.select(:stars, options_for_select([['★', 1], ['★★', 2], ['★★★', 3], ['★★★★', 4], ['★★★★★', 5]], 5)) %>

  <label>How would you describe your stay?</label>
  <%= f.text_area :review %>

  <%= f.submit "Enter review" %>

<% end %>

<style>
  #review_stars option[value="1"] {
    color: red;
  }
</style>
