<header class="navbar">
    <div class="content">
        <%= link_to(root_path) do %>
        <h1>
            <span>Cas'al</span>
            <span>Verde</span>
        </h1>
        <% end %>
        <nav>
            <%= render 'layouts/modal' %>
            <%= link_to "Pricing", prices_pages_path %>
            <%= link_to "Reviews", reviews_path %>
            <%= link_to "Gallery", photogallery_pages_path %>
        </nav>
    </div>
</header>
